
<div class="jumbotron">
    <h1>Welcome to ITU</h1>
    The place where we standardize the ICT industry
</div> 

<a role="button" class="btn btn-lg btn-primary"
   href="@Url.Action("Index", "Gis")">
    <i class="fa fa-globe"></i>
    Our GIS system
</a>

<a role="button" class="btn btn-lg btn-primary"
   href="@Url.Action("Index1", "Gis")">
    <i class="fa fa-globe"></i>
    Our GIS system (Client)
</a>

